{% extends "ruskeyverbs/base_generic.html" %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Arrange the words in the Russian sentence meaning "{{ english_text }}"</p>
      <form class="" action="{% url 'arrange-words-eval' pk=pk%}" method="post">
        {% csrf_token %}
        {% with 'ruskeyverbs/verbAudio/'|add:file as file %}
        <audio controls autoplay>
          <source src="{% static file %}" type="audio/mpeg"></source>
        </audio>
        {% endwith %}
        <p>
          {{ form }}
        </p>
        <input type="submit" name="" value="Submit">
        {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      </form>

    </div>

  </div>

</div>
{% endblock %}
