{% extends "ruskeyverbs/base_generic.html" %}

{% block content %}
<p>Arrange the words in the Russian sentence meaning "{{ english_text }}"</p>
<form class="" action="{% url 'arrange-words-eval' pk=pk%}" method="post">
  {% csrf_token %}
  <p>
    {{ form }}
  </p>
  <input type="submit" name="" value="Submit">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</form>
{% endblock %}
