{% extends "ruskeyverbs/base_generic.html" %}

{% block extra_head_content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "ruskeyverbs/css/verb_list_style.css" %}"/>

{% endblock %}

{% block content %}
  <h1 class='text-center'>Verbs</h1>

  {% if verb_list %}
  {% load ruskeyverbs_extras %}
  <div class="container">
    <div class="row">
  {% for verb in verb_list %}
      <div class="col-sm-4">
        <a href="{% url 'verb-details' verb.pk %}">
          <div class="verb_block col-one-link">
            <h1 class='text-center'>{{ verb.pk }}</h1>
            <h2 class='text-center'>{{ verb.infinitive }}</h2>
            <p class='text-center'>
              {{ verb.meaning|truncatechars:50 }}
            </p>
            <p class='text-center'>
              due:
              <span class="{% if verb|overdue:request.user %}font-weight-bold font-italic text-danger{% endif %}">
                {{ verb|duedate:request.user }}
              </span>
            </p>
          </div>
        </a>
      </div>
  {% endfor %}
  </div>
</div>
  {% else %}
    <p>No verbs to display!</p>
  {% endif %}
{% endblock %}
