{% extends "ruskeyverbs/quiz_box.html" %}
{% load static %}

{% block quiz_content %}
<h2>Type the Sentence</h2>
<p>Type the russian sentence meaning:</p>
<br>
<div class="english_text">
  {{ english_text }}
</div>
<form class="" action="{% url 'reproduce-sentence-eval' pk=pk%}" method="post" autocomplete="off">
  {% csrf_token %}
  {% with 'ruskeyverbs/verbAudio/'|add:file as file %}
  <audio controls>
    <source src="{% static file %}" type="audio/mpeg"></source>
  </audio>
  {% endwith %}
  <p>
    {{ form }}
  </p>
  <input class="btn btn-primary float-right" type="submit" name="" value="Check Answer">
<br>
<br>
</form>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}
{% endblock %}
