.verb_block {
  margin: 3px;
  border: 2px solid black;
  padding: 2px;
  background-color: #e6ffff;
  height: 90%;
}

.verb_block:hover {
  background-color: #ccffff;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: inherit;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}
